/* Incio paginador */
.paginador
	{
		text-align: left;
		padding: 0;
	}

.paginador ul
	{
		margin: 0;
		padding: 0;
		text-align: left;
	}
.paginador ul li
	{
		display: inline-block;
		*display: inline;
		vertical-align: top;
		width: auto!important;
		border: 0!important;
		padding: 2% 0!important;
	}

.paginador ul li p

{
	background: #76B21B;
	color: #fff;
	/*padding: 7px 10px !important;*/
}

.paginador ul li a
	{
		display: block;
		padding: 9px 14px;
		text-decoration: none;
		color: #fff;
		font-size: 01em;
		background: #CDB97D;
		margin: 0 1px;
		}

.paginador ul li a:hover, .paginador ul li a.activo	{
		background: #FF9999;
	}
/*Fin paginador*/


.activo{
	display: block;
    padding: 10.5px 14px;
    text-decoration: none;
    color: #FFF;
    font-size: 13px;
    background: #FF9999;
    margin: 0 1px;
}