/**
* Rename this file to widget_override.css to take effect
* Write your widget styles here
**/


@font-face {
  font-family: "Gotham-Bold";
  src: url("http://www.adrianaarango.com/store/chat/lhc_web/design/customtheme/css/fuentes/Gotham-Bold.woff");
}
@font-face {
  font-family: "Gotham-Book";
  src: url("http://www.adrianaarango.com/store/chat/lhc_web/design/customtheme/css/fuentes/Gotham-Book.woff");
}
@font-face {
  font-family: "Gotham-Light";
  src: url("http://www.adrianaarango.com/store/chat/lhc_web/design/customtheme/css/fuentes/Gotham-Light.woff");
}
@font-face {
  font-family: "Gotham-Medium";
  src: url("http://www.adrianaarango.com/store/chat/lhc_web/design/customtheme/css/fuentes/Gotham-Medium.woff");
}


body {
	font-family: "Gotham-Medium"; 
}